/* my firs css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 main {
     padding: 20px;
     color: red;
 }
body {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color:blanchedalmond;
}
img {
    border: 10px solid navy;
}
h1
{
border: 5px double powderblue; background-color: lightcoral; 
padding: 20px;
margin: 40px;

}
blockquote{
    font-family: fantasy;
    font-size: 3rem; font-style: italic;
    text-align: center;
}
cite{ font-size: 1rem;}

ol,ul {
    margin-left: 20px;
}
.bigbold{
    font-weight: bold;
    font-size: 3rem;
}